.four_zero_four_bg>span {
    font-family: 'Arvo', serif !important;
}

.bottom-container {
    padding-right: 200px;
    color: rgb(133, 133, 133);
    font-size: 22px;
}

.image_404 {
    width: 48rem;
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
}