body {
    margin: 0px !important;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-left {
    flex: 1;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    width: 98px;
    height: auto;
}

.admin-name {
    display: flex;
    align-items: center;
}

.navContainer {
    background-color: #fff;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.hr_line {
    border-color: #d8d7d7;
}

.hamburger {
    display: none !important;
}

.service-box {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.service-box h2 {
    font-size: 24px;
    color: #333;
}

.service-box p {
    font-size: 16px;
    color: #666;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px;
}

.nav-link {
    text-decoration: none;
    padding: 15px 15px;
    color: #000;
    border-bottom: 4px solid transparent;
}

.nav-link.active {
    border-bottom: 3px solid #0cafff;
    color: #0cafff;
}

.menu-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 10px;
}

.dropdown {
    position: absolute;
    top: 11%;
    left: 19;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 0;
    min-width: 160px;
    z-index: 1;
}

.dropdown-item {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f9f9f9;
}

li:hover .dropdown {
    display: flex;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}